body,
html,
.col,
.row,
.container-fluid,
.leftBody,
.centerBody,
.rightBody,
.blockForm,
.navbar {
  margin: 0;
  padding: 0 !important;
}

body {
    background-image: url(/assets/images/background.webp);
    background-repeat: no-repeat;
    height: 80%;
}

.navbar {
    opacity: 90%;
    position: fixed;
}

.navbar-brand  {
    padding-left: 50px;
}

.nav-item {
    color: #fff;
}

.iconeAccueil {
    width: 70%;
}

.container .accueil {
    position: fixed;
}

.accueil {
    margin-top: 80px;
}

.accueil .presentation {
    color: #fff;
    font-weight: lighter;
    font-style: italic;
    font-size: 2em;
}

.accueil .titleAccueil {
    color: #fff;
    font-size: 4em;
}

.flaticonAccueil {
    width: 10%;
}

