{% extends "base.html.twig" %}

{% block body %}
<main>
	<div class="container accueil">
		<div class="row">
			<div class="presentation">Bonjour, je suis Alexandre Cubizolle,</div>
			<h1 class="titleAccueil">Développeur web full-stack</h1>
		</div>
    <div class="row flaticonsUp">
	<div class="col-lg-2">
    	<img class"flaticonAccueil" src="{{ asset('assets/flaticons/frontend.png')}}" alt="front-end icone">
	</div>	
	<div class="col-lg-2">
		<img class"flaticonAccueil" src="{{ asset('assets/flaticons/backend.png')}}" alt="front-end icone">
	</div>	
	<div class="col-lg-2">
		<img class"flaticonAccueil" src="{{ asset('assets/flaticons/CDA.png')}}" alt="front-end icone">
	</div>	
	<div class="col-lg-2">
		<img class"flaticonAccueil" src="{{ asset('assets/flaticons/web_mobile.png')}}" alt="front-end icone">
	</div>	
    </div>
    </div>
</main>
 {% endblock %}
