<div class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark transparent">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">
                            <img class="img-responsive iconeAccueil" src="{{asset('assets/flaticons/accueil.png')}}" alt="icone accueil">
							<span class="sr-only"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">À propos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Compétences</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>    
